#img-div {
    margin: 0;
  }
  #image {
    align-items: center;
    max-width: 100%;
    display: block;
    height:auto;
    margin: 0 auto;
  }

  #img-caption{
    margin: 10px 120px 10px 120px;
  }
